@page
@model S2IndividualProjectDnDPrototype.Pages.CampaignPages.CreateCampaignModel
@{
}

<form method="post">
    <input asp-for="Campaign.Name" placeholder="Campaign Name" />
    <br />
    <input asp-for="Campaign.Owner" placeholder="Campaign Owner" />
    <input asp-for="Campaign.Description" placeholder="Description" />


    <input button type="submit" value="Create Campaign" />

</form>