@page
@model S2IndividualProjectDnDPrototype.Pages.AccessDeniedModel
@{
}
<h1>You aren't authorized to view this page.</>
    <h4> check wether you're logged in as a dungeon master or as a player.</h4>
    <h5>Or... if you're logged in at all</>