@page
@model S2IndividualProjectDnDPrototype.Pages.DMorPlayerPageModel
@{
}

<p>Are you a Dungeon Master or a Player</p>

<form method="post">
    <div>
        <input type="radio" asp-for="User.IsDungeonMaster" value="true" id="dm" />
        <label for="dm">Dungeon Master</label>
    </div>
    <div>
        <input type="radio" asp-for="User.IsDungeonMaster" value="false" id="player" />
        <label for="player">Player</label>
    </div>
    <input type="Submit"></input>
</form>

<br />

