@page
@model S2IndividualProjectDnDPrototype.Pages.CharacterPages.CreateCharacterModel
@{
}
<h1 class="center">Create your character!</h1>

<form method ="post">
    <input asp-for="Character.Name" placeholder="Character Name" />
    <br/>
    <input asp-for="Character.CampaignId" placeholder="What CampaignID" />
    <input asp-for="Character.maxHealth" placeholder="Max HP" />
    <input asp-for="Character.maxStrength" placeholder="Max Strength" />
    <input asp-for="Character.maxDexterity" placeholder="Max Dexterity" />
    <input asp-for="Character.maxWill" placeholder="Max Will" />
    <input asp-for="Character.maxSpirit" placeholder="Max Spirit" />
    <br />
    <input asp-for="Character.Armor" placeholder="Armor" />

    <input button type="submit" value="Create Character" />

</form>